/* Polices utilisés dans le header */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* Polices utilisés dans main menu */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@700&family=Secular+One&display=swap');
/* Polices utilisés dans texte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Quicksand:wght@700&family=Secular+One&display=swap');

header h1 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  text-align: 0.8em;
  line-height: 30px;
  padding-top: 5em;
  margin-left: 80px;
}

header h2 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  text-align: 0.8em;
  line-height: 30px;
  padding-top: 20px;
  margin-left: 80px;
}

.toggle-menu {
  font-family: 'Roboto', sans-serif;
}

.option ul {
  color: white;
}

.header {
  font-family: 'Montserrat', sans-serif, Light;
  font-size: 2em;
  color: white;
}

.main {
  font-family: 'Montserrat', sans-serif, Thin;
  color: #666666;
  text-align: left;
  line-height: 30px;
}

.footer {
  padding-top: 20px;
}

#main-menu {
  font-family: 'Secular One', sans-serif;
  font-size: 1em;
  padding-top: 2em;
}

#master-p {
  font-family: 'Montserrat', sans-serif;
  padding-top: 0px;
  margin-left: 80px;
  margin-right: 8em;
  padding-bottom: 5em;
  line-height: 30px;
}

section h1 {
  font-size: 2em;
}

section h2 {
  font-size: 1.5em;
}

.etape {
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  color: #1fda9a;
}

#texte1 {
  font-family: 'Montserrat', sans-serif, Light;
  margin-left: 6em;
  margin-right: 6em;
}

#texte2 {
  font-family: 'Montserrat', sans-serif, Thin;
  color: #666666;
  padding: 3em;
  line-height: 30px;
  justify-content: center;
  max-width: 1000px;
  margin-left: 6em;
  margin-right: 6em;
}

#main-footer {
  font-family: 'Secular One', sans-serif;
  font-size: 1em;
  padding-top: 2em;
}

.nav {
  padding-bottom: 20px;
}
